door_totp_secret = 'BASE32SECRET'

amazon_mail = 'amazon@example.com'
amazon_pwd = 'SECRETPWD'
amazon_totp_secret = 'BASE32SECRET'

klingel_host = 'klingel.example.com'
klingel_account = 'dailydriver'
klingel_pwd = 'SECRETPWD'
klingel_users = ['Amazon']
